[submodule "PL_Windows_Proc_Serv/components/Nlohmann_JSON"]
	path = PL_Windows_Proc_Serv/components/Nlohmann_JSON
	url = https://github.com/Sense-Scape/Nlohmann_JSON.git
[submodule "PL_Windows_Proc_Serv/components/Generic_Modules"]
	path = PL_Windows_Proc_Serv/components/Generic_Modules
	url = https://github.com/Sense-Scape/Generic_Modules.git
[submodule "PL_Windows_Proc_Serv/components/Windows_Modules"]
	path = PL_Windows_Proc_Serv/components/Windows_Modules
	url = https://github.com/Sense-Scape/Windows_Modules.git
